
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar">
    <a href="Registration.html"><i class="fa fa-fw fa-user"></i></a>
    <div class="navbart">
        <a href="~/Home/Home"></i> تواصل معنا</a>
        <a href="~/Home/Events"></i> الفعاليات</a>
        <a href="~/Home/Home"></i> الرئيسية</a>
    </div>
</div>






<div class="pagec">
    <input type="radio" name="sushi-lunch" id="happy-radio">
    <input type="radio" name="sushi-lunch" id="lovers-radio" checked>
    <h1 class="textname">مبادرون</h1>
    <br></br>
    <br></br>
    <div class="selector">

        <label for="happy-radio" class="happy-card">
            <h1 class="textname2">الرسالة</h1>

        </label>

        <label for="lovers-radio" class="lovers-card">
            <h1 class="textname2">الرؤية</h1>
            <ul>
            </ul>

        </label>

        <label class="happy-pick"><a href="booking.html">انضم إلينا</a></label>
        <label class="lovers-pick"<a href="booking.html">انضم إلينا</a></label>
    </div>
</div>




