
@{
    ViewBag.Title = "information";
    Layout = "~/Views/_LayoutPage4.cshtml";
}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar">
    <a href="Registration.html"><i class="fa fa-fw fa-user"></i></a>
    <div class="navbart">
        <a href="events2.html"></i> تواصل معنا</a>
        <a href="events.html"></i> الفعاليات</a>
        <a href="home2.html"></i> الرئيسية</a>
    </div>
</div>
<center>
    <h1 style="color:gray;">
        معسكر طويق البرمجي
    </h1>

    <div>
        <iframe src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=الاتحاد السعودي للبرمجه&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                width="400"
                height="300"
                frameborder="0"
                style="border:0;"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0">
        </iframe>
    </div>
</center>
<div class="col-25">
    <div class="container">
        <h4> <b>4</b> <span class="price" style="color:black"><i class="fa fa-users"></i> عدد المقاعد </span></h4>
        <p> <b></b> <span class="price" style="color:black">  تحدي معني بالحلول البرمجية</span></p>

        <p><a href="#"></a> <span class="price"></span></p>
        <p><a href="#"></a> <span class="price"></span></p>

        <br>
        <br>
        <br>
        <br>
        <a href="booking.html"> <input type="submit" value="احجز الآن" class="btn"></a>

    </div>
</div>
