@model website7.Models.EventBookingView

@{
    ViewBag.Title = "testdbd";
}

<div>
   
        <ul>
            <li>information</li>
            <li>eventID: <b>1</b></li>
            <li>eventName: <b>Tuwiqboot</b></li>
            <li>seats: <b>8</b></li>
        </ul>
        <button onclick="location.href='@Url.Action("testdbd", "Home")'" />
    

</div>
